*{
    margin: auto;
    padding: auto;
}
body{
    background-color: rgb(45, 44, 44);
    /* background-image: url(https://miro.medium.com/v2/resize:fit:828/format:webp/1*5lyavS59mazOFnb55Z6znQ.png); */
    background-repeat: no-repeat;
    background-size: cover;
    }
    .box1{
    height:750px;
    width: 100%;
    /* background-color: black; */
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.567),rgba(0, 0, 0, 0.824)),url('./1_5lyavS59mazOFnb55Z6znQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    }
.logo{
    height: 50px;
    margin-left: 100px;
    margin-top: 20px;
}
.sign_out{
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    left:70%;
    bottom: 20px;
    border-radius: 5px;
    height: 40px;
    width:100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p1{
    color: white ;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 200px;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.p2{
    color: white ;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
}
.sign_up{
    background-color: red;
    color: white;
    cursor: pointer;
    position: relative;
    left:445px;
    height: 57px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}
.searchbar{
    height: 50px;
    width: 400px;
    position: relative;
    left: 450px;
    bottom: 4px;
    padding-left: 30px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.box2{
    height: 700px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 35px;
}
.p3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    position: relative;
    top: 35%;
    padding-left: 90px;
    font-weight: bolder;
}
.p4{
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 38%;
    padding-left: 90px;
}
/* .video1{
    position: relative;
    left: 60%;
} */
.img1{
    position: relative;
    left: 50%;
    height: 450px;
    top: 5%;
    cursor: pointer;
}
.p5{
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 40%;
    padding-left: 90px;
}
.box3{
    height: 600px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 20px;
}
.img2{
    height: 400px;
    padding-left: 300px;
    padding-top: 100px;
}
.p6{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: right;
    position: relative;
    right: 230px;
    bottom: 300px;
}
.p7{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: right;
    position: relative;
    right: 400px;
    bottom: 300px;
}
.p8{
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    position: relative;
    bottom: 300px;
    right: 150px;
    margin-top: 20px;
}
@media screen and (min-width:448px) and (max-width:650px){
    .box1{
        height: 5vh;
        padding: 25px;
    }
   

    .sign_out{
        padding: 7px 18px;
        font-size: 10px;
    }

    .logo{
        width: 100px;
    }

    h1{
        font-size: 30px;
        font-weight: 800;
        text-align:center;
    }
    .p1{
        font-size: 20px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    
    .p2{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    .p3{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    .p4{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    .p5{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    .p6{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    .p7{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    .p8{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    .searchbar{
       height: 10px;
       width: 100px;
       position: absolute;
       left: 10% ;
        padding: 10px 6px;
    }

    .sign_up{
        display: block;
        position: relative;
        left: 25%;
        margin-top: 5px;
        padding: 3px 2px;
        width: 85%;
        top: 5%;
        font-size: 15px;
    }
}