*{
    margin: auto;
    padding: auto;
}
body{
    background-color: rgb(73, 73, 73);
    /* background-image: url(https://miro.medium.com/v2/resize:fit:828/format:webp/1*5lyavS59mazOFnb55Z6znQ.png); */
    background-repeat: no-repeat;
    background-size: cover;
    }
    .box1{
    height:650px;
    width: 100%;
    /* background-color: black; */
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.567),rgba(0, 0, 0, 0.824)),url('./1_5lyavS59mazOFnb55Z6znQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    }
.logo{
    height: 50px;
    margin-left: 100px;
    margin-top: 20px;
}
.sign_out{
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    left:70%;
    bottom: 20px;
    border-radius: 5px;
    height: 40px;
    width:100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p1{
    color: white ;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 80px;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.p2{
    color: white ;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
}
.sign_up{
    background-color: red;
    color: white;
    cursor: pointer;
    position: relative;
    left:445px;
    height: 57px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}
.searchbar{
    height: 50px;
    width: 400px;
    position: relative;
    left: 450px;
    bottom: 4px;
    padding-left: 30px;
    background-color: transparent;
}
.box2{
    height: 400px;
    width: 100%;
    background-color: black;
}
.p3{
    color: white;
}